<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/reviews.css">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/css/shortcode.css">  
    <link rel="stylesheet" type="text/css" href="./assets/css/gallery.css">

</head>

<body>
        <header class="container-fluid no-padding header-section">
		
                <!-- SidePanel -->
                <div id="slidepanel">
                
                  
                  <div class="container-fluid no-padding top-header">
                  
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12 welcome-text">
                          <span><i id="address" class="icon icon-Pointer"></i> 10011 Centennial Pkwy, Sandy, UTAH</span>
                          <span><a id="phoneNumber" href="tel:+8015694692" title="+(801) 569 4692"><i class="icon icon-Phone2"></i>(801) 569-4692</a></span>
                      </div>
                            
                      
          
                    
                      <div class="container">
                        <div class="row">
                          <div style="margin-left:60px;" class="col-lg-6"><img id="logo" src="images/logo.png" id="logo"/>
                        </div>
                      </div>
                    </div>
                      
                      
                          <div id="home">
                            <div>
                            <div class="dropdown">
                              <a href="index.html"><button class="btn btn-info" style="margin-left: 80px">Home Page</button></a>
                              <a><button id="trails" class="btn btn-info">Restaurants</button></a>
                              <a><button id="campgrounds" class="btn btn-info">Survey</button></a>
                              <a><button id="paragraphs" class="btn btn-info">Information</button></a>
        
                            <!-- <div class="dropdown"> -->
                        
          
          
                                </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                
                    
                  </div>
                </div>
            </header>
        
        <div id="jumbotron1" class="jumbotron jumbotron-fluid">
        </div>
   
    <div id="home">
            <div class="container">
                    <div id="dataAdd" class="float-right">
                            <h4 style="color:#778899" for="reviews">Review's </h4>
                            <div></div>
                            <textarea  id="reviewTextarea" rows="4"></textarea>
                            <div></div>
                            <button id="submit" type="button" class="btn btn-info">Submit</button>
                        </div>
            </div>  
        </div>
       
        <h4 Style="color:#778899; margin-left:180px">Reviews:</h4>
        <div class="container">
          <div class="col-lg-6" id="dataDisplay"></div>
        </div>

          <br>
          <br>
            <br>
            <br>
            <br>
          
          <footer class="footer-main container-fluid no-padding footer-section2">
	
                <div class="container">
                  <div class="row">
          
                    <!-- <div class="col-md-4 col-sm-6 col-xs-6 widget-block"> -->
                      
                      <div class="ftr-widget ftr_widget_about" style="margin-left:120px;">
                        <h3>about us</h3>
                        <div class="ftr-about-content">
                          <p>Fun Coders. The best team ever!</p>
                        </div>
                      </div>
                    <!-- </div> -->
                    
                  
                    <!-- <div class="col-md-4 col-sm-6 col-xs-6 widget-block"> -->
                      
                      <div class="ftr-widget widget_hours">
                        <h3>visiting hours</h3>
                        <p>Monday To Friday : <span>(9.00 am - 5.30 pm)</span></p>
                        <p>Saturday and Sunday : <span>(11.00 am - 2.00 pm)</span></p>
                        <br>
                        <br>
                </footer>
    <script type="text/javascript" src="./assets/javascript/reviews.js"></script>
</body>

</html>