<div id="home">

  <div class="container-fluid">
<<<<<<< HEAD
     {{!-- <div class="row"> --}}
         <div class="col-12">
          <div class="row row-mt15em">
          <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp"> 
          <h2 class="cursive-font">Food Hunter!</h2>
         </div> 
        <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
       <form class="clearfix mb-4" action="POST">
          <div class="form-group">
=======
    <div class="row" id="row1">
      <div class="col-12">
        <div class="row row-mt15em">
          <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
            <h2 class="cursive-font">Food Hunter!</h2>
          </div>

          <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
            <form class="clearfix mb-4" action="POST">
              <div class="form-group">
>>>>>>> 4c293332c27c40316fae925cd1d99db81ae2afe3

                <label for="eaters">Number of eaters</label>
                <input type="number" id="eaters" class="form-control" aria-describedby="eaters"
                  placeholder="Enter Number of Eaters">
              </div>
              <div class="form-group">
                <label for="group">Group Name</label>
                <textarea class="form-control" id="group" aria-describedby="group"
                  placeholder="Enter Group Name"></textarea>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" aria-describedby="email" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <label for="zipcode">Zip Code</label>
                <textarea class="form-control" id="zipcode" aria-describedby="zipcode"
                  placeholder="Enter Zipcode"></textarea>
              </div>
              <div>
                <button type="button" id="groupSubmit" class="btn btn-lg btn-primary">
                  <a>
                    <h4>
                      <span class="glyphicon glyphicon-list-alt">
                      </span>
                      Go to Survey
                    </h4>
                  </a>
                </button>
              </div>

          </div>
<<<<<<< HEAD
         </div>
        {{!-- </div>   --}}
        </form>
       </div> 
       <br><br>
       
<footer class= "footer">
  <div class= "container">
=======
        </div>
      </div>
    </div>
    </form>
  </div>
  <br><br>
  <br>



</div>
<footer class="footer">
  <div class="container">
>>>>>>> 4c293332c27c40316fae925cd1d99db81ae2afe3
    <p>
      <a href="https://github.com/ginnac/food-hunter">Github Repo</a>
    </p>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- connect to its own javascript -->
<script src="/js/index.js"></script>