<!--- html with divs for the choosen restaurant and the 3 options -->
<div id="results">


<div class="container">
  <div class="row" id="row2" >
      <div id="title-div"> <p>This is your best match!!!</p></div>
      <div class="col-xs-12 col-lg-5 card">
        <img id="res-photo" src="" class="card-img-top" alt="...">
          <div class="card-body">
          
          <h4 id= "res-name" class="card-title"></h4>
          <p id= "res-type" class="card-text"></p>
          <h5 id= "res-data" class="card-text"></h5>
        </div>
        
      </div>
      <div class="col-xs-12 col-lg-5" id="best-match" >
          <p class="best-match">This is</p>
          
          <p class="best-match">your best</p>
          
          <p class="best-match">Match!!!</p>
          <div id="reset-game">
          <button type="button" class="btn btn-primary" class = "again" id="again">Play Again</button>

          </div>
        </div>
    </div>

  <div class="row" id="row2" >
    <p class="map-text">If you you don't like your match, minimize the map to see the markers for other matches <br class="break"> 
    within a reasonable distance from your zipcode ( click on the markers and Restaurant Name will display )</p>
    
    <div id="map_canvas" style="height:300px"></div>

<pre></pre>
<!-- connect to its own javascript -->
  </div>
   

  

<div class="row" id="row2">
<div class="col-12" id="get-reviews-one">

  <h5 id="text-title">
   Enter below Zipcode and select a type of restaurant to find restaurants's reviews from past food hunters!!! 
  
  </h5>


<div id="reviews">
    <select class="chosen-select rev-btn" id="cs-1">
              <option value>Select Restaurant</option>

              <option value="american restaurant">American Cuisine</option>
              <option value="indian restaurant">Indian Cuisine</option>
              <option value="thai restaurant">Thai Cuisine</option>
              <option value="chinese restaurant">Chinese Cuisine</option>
              <option value="greek restaurant">Greek Cuisine</option>
              <option value="mexican restaurant">Mexican Cuisine</option>
              <option value="sushi restaurant">Japanese Cuisine</option>
              <option value="italian restaurant">Italian Cuisine</option>
            
</select>

<input type="text" name="zipcode" class="rev-btn" id="zipcode" placeholder="Zipcode">
 <button type="submit" class="btn btn-primary btn-lg btn-block" id="reviewsButton"> Find Reviews</button>

</div>


</div>
<div class="row">
<div id="reviews-records"></div>
</div>


<div class="row">

</div>
 </div>
  </div>
   </div>


    <script src="/js/restaurant.js"></script>