<!--- html with divs for the choosen restaurant and the 3 options -->
<div id="results">
  <div class="container">
    <div class="row" id="row2">
      <div class="card-columns">
        <div class="card">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 id="res-name" class="card-title">Card title that wraps to a new line</h5>
            <p id="res-data" class="card-text">This is a longer card with supporting text below as a natural lead-in to
              additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</pre>
<div id="map_canvas" style="height:300px"></div>
<pre></pre>
<!-- connect to its own javascript -->
<div id="reset-game">
  <button type="button" class="btn btn-primary" id="again">Play Again</button>
</div>

<script src="/js/restaurant.js"></script>