<!--- html with divs for the choosen restaurant and the 3 options -->
<div id="results">
  <div class="container">
    <div class="row" id="row2">
      <div class="col-lg-8 col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="" class="card-img-top" id="res-photo" alt="...">
            <h5 id="res-name" class="card-title"></h5>
            <p id="res-data" class="card-text">
            </p>


<div class="container">
  <div class="row">
   <div class="card-columns">
      <div class="card">
        <img id="res-photo" src="" class="card-img-top" alt="...">
        <div class="card-body">

          <h4 id= "res-name" class="card-title"></h4>
          <p id= "res-type" class="card-text"></p>
          <h5 id= "res-data" class="card-text"></h5>
        </div>
        
      </div>
      <div id="best-match">
          <p>This is</p>
          <br>
          <p>your best</p>
          <br><br>
          <p>Match!!!</p>
        </div>
    </div>


  
<div id="map_canvas" style="height:300px"></div>

<pre></pre>
<!-- connect to its own javascript -->

<div class="row">
<div class="col-5" id="get-reviews-one">

  <h5>
    <strong> Enter below Zipcode and select a type of restaurant to find <br>
              restaurants's reviews from past food hunters!!! 
    </strong>
  </h5>




    {{!-- <h5>
<strong> Enter below Zipcode and select a type of restaurant </strong>
</h5>

<div id="reviews">
    <select class="chosen-select" id="cs-1">
              <option value>Select Option</option>

              <option value="american restaurant">American Cuisine</option>
              <option value="indian restaurant">Indian Cuisine</option>
              <option value="thai restaurant">Thai Cuisine</option>
              <option value="chinese restaurant">Chinese Cuisine</option>
              <option value="greek restaurant">Greek Cuisine</option>
              <option value="mexican restaurant">Mexican Cuisine</option>
              <option value="sushi restaurant">Japanese Cuisine</option>
              <option value="italian restaurant">Italian Cuisine</option>
            
</select>

<input type="text" name="zipcode" id="zipcode" placeholder="Zipcode">
 
<button type="submit" class="btn btn-primary btn-lg btn-block" id="reviewsButton"> Submit</button>

</div>


</div>
<div class="row">
<div id="reviews-records"></div>
</div>


<div class="row">

<div id="reset-game">
  <button type="button" class="btn btn-primary" class = "again" id="again">Play Again</button>

</div>
</div>


    <script src="/js/restaurant.js"></script>