

/* welcome page */
.list-group-item {
  line-height: 2.5;
}
/* main/index page */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Pacifico&display=swap');
body {
background-color: rgb(210, 221, 205);
font-family: 'Pacifico', cursive;
font-size: 18px;
line-height: 34px;
color: #f3f0e0;
background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Flongfordpc.com%2Fimages%2Fbackgrond-clipart-food-2.jpg');
background-repeat: repeat-x;
background-size: 1000px 1000px;
height:100%;

}

img{
  width:100px;
  height:200px;
}

<<<<<<< HEAD
#no-background{
  
  padding-top: 0.5px;
    margin: auto;
    z-index: 10;
    /*position:fixed*/
    left: 30px;
    right: 30px;
    clear: both; 
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
}
;
h1 {
  font-size: 24px;
  padding: 18px; 
}

footer{
  margin-top:100px;
}



.row {
=======
/* h1 {
  font-size: 24px;
  padding: 18px; 
} */

/* the background black box */
 #row1{
>>>>>>> bcc7c298ffaab1b647de3c46adfb633796f785f8
    padding-top: 0.5px;
    margin: auto;
    z-index: 10;
    /*position:fixed*/
    left: 30px;
    right: 30px;
    clear: both; 
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
<<<<<<< HEAD
  }
   h2 {
=======
  }  

  /* title of the food-hunter in index-page */

   .row h2 {
>>>>>>> bcc7c298ffaab1b647de3c46adfb633796f785f8
    text-align: left;
    padding-top: 50px;
    margin-bottom: 0px;
    font-size: 115px;
    font-stretch: auto;
    line-height: 1.5;
    font-weight: 230;
    font-family: "Kaushan Script", cursive;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  } 

  /* #home {
    padding-top: 09%;
    
  } */
  .container-fluid {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px; 
  } 
   .form-control {
   font-size:15px;
  } 
  
  
  .form-control {
   font-size:15px;
   background-color: rgb(250, 247, 246);
   border-color: black;
   border-style: thin;
   border-width: 03px; 
  }
  .form-group {
    font-size: 25px;
  } 

  #groupSubmit {
    background-color:  rgb(224, 186, 60);
    border-color: black;
  }



  div{
    display: block;
   }
   .col-md-10{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
   }
   .chosen-select{
    display: block;
    width: 100%;
    height: 34px;
    border-color: black;
   }

   /* google map styling */
   #map_canvas{
     margin-left: auto;
     margin-right: auto; 
     margin-top: 3px;
    width: 100%;
  }
/* play again button on restuarant  */
  #again{
    margin-top: 15px;
    margin-left: 40px;
   background-color: rgb(224, 186, 60);
   border-color: black;

  }

  #res-name{
    color: black;
    font-size: 20px;
    margin-top: 15px;
  }

  .card-text{
    color: black;
    margin-top: 5px;
  }
  .card{
    margin-left: 40px;
    height: 90%;
    width: 50%;
  }

#best-match{
  margin-top: 100px;
  margin-left: -180px;
  font-size: 100px;
  line-height: 40pt;
}

   #row2{
    padding-top: 10px;
    margin: auto;
    z-index: 40;
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 30px;
    right: 30px;
    clear: both;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
  } 
   .row-survey{
    padding: 15px;
    margin: 50px;
   box-sizing: border-box;
   border: black;
   }
   .col-md-10{
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: auto;
    margin-right: auto;
   }
   .panel-body{
    padding: 50px;
     padding-top: 50px;
     padding-bottom: 50px;
     padding-left: 50px;
     padding-right: 50px;
   }
   .row-questions{
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: auto;
    margin-right: auto;
   }
   
   /* Survey.hadlebars */
   .row-questions {
    padding-top: 10px;
    margin: auto;
    z-index: 40;
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 30px;
    right: 30px;
    clear: both;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
   }
   #buttonSave, #buttonReview {
    background-color: rgb(223, 188, 113);
    border-color: black;
   }
#buttonReview{
  width: 20%;
  margin-left: 125px;
}
   /* Restuarant's media queries */
   @media screen and (max-width: 768px){
   .container{
     width: 100%;
   }

   @media screen and (max-width: 320px){
    .container{
      width: 100%;
    }
    
    
  @media screen and (max-width: 168){
      .container{
        width: 100%;
      }
      
    }

  }   
   
   /* @media(max-width: 320px ){
    
      .row {
          padding-top: 0.5px;
          margin: auto;
          z-index: 10;
          position: fixed;
          left: 30px;
          right: 30px;
          clear: both; 
          background: rgba(0, 0, 0, 0.5);
          padding: 30px;
        }
        .row h2 {
          text-align: left;
          padding-top: 70px;
          margin-bottom: 0px;
          font-size: 125px;
          font-stretch: auto;
          line-height: 1.5;
          font-weight: 230;
          font-family: "Kaushan Script", cursive;
          display: block;
          margin-block-start: 0.67em;
          margin-block-end: 0.67em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
      
        #home {
          padding-top: 09%;
          
        }
        .container-fluid {
          max-width: 1000px;
          position: relative;
          margin: auto;
          padding-left: 10px;
          padding-right: 10px; 
        } 
        
        .form-control {
         font-size:15px;
        }
        .form-group {
          font-size: 25px;
        } 
      
        #groupSubmit {
          background-color: rgb(223, 188, 113);
          border-color: black;
        }
      
         }
         @media (min-width: 300px) and (max-width: 414px){
        
          
        
              .row h2 {
                text-align: left;
                padding-top: 70px;
                margin-bottom: 0px;
                font-size: 125px;
                font-stretch: auto;
                line-height: 1.5;
                font-weight: 230;
                font-family: "Kaushan Script", cursive;
                display: block;
                margin-block-start: 0.67em;
                margin-block-end: 0.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
              }
            
              #home {
                padding-top: 09%;
                
              }
               .container-fluid {
                max-width: 1000px;
                position: relative;
                margin: auto;
                padding-left: 10px;
                padding-right: 10px; 
              } 
              .form-control {
               font-size:15px;
              }
              .form-group {
                font-size: 25px;
              } 
            
              #groupSubmit {
                background-color: rgb(223, 188, 113);
                border-color: black;
              }
         }   
         @media (min-width: 415px) and (max-width: 645px){
         
              .row h2 {
                text-align: left;
                padding-top: 70px;
                margin-bottom: 0px;
                font-size: 125px;
                font-stretch: auto;
                line-height: 1.5;
                font-weight: 230;
                font-family: "Kaushan Script", cursive;
                display: block;
                margin-block-start: 0.67em;
                margin-block-end: 0.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
              }
            
              #home {
                padding-top: 09%;
                
              }
              .container-fluid {
                max-width: 1000px;
                position: relative;
                margin: auto;
                padding-left: 10px;
                padding-right: 10px; 
              } 
              .form-control {
               font-size:15px;
              }
              .form-group {
                font-size: 25px;
              } 
            
              #groupSubmit {
                background-color: rgb(223, 188, 113);
                border-color: black;
              }
         }
  
.chosen-select {
  display: block;
  width: 100%;
  height: 34px;
   
} 

#map{
  height:500px;
  width:500px;
}
/* Survey.hadlebars */
h5 {
 font-size: 25px;
 font-weight: 100; 
}

 .row-survey{
 font-size: 15px;
 font-weight: 100;
 padding: 15px;
 margin: 50px;
 box-sizing: border-box;
 border: black;

} 

 .col-lg-10{
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: auto;
  margin-right: auto;
  
} 

.panel-body{
  padding: 50px;
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 50px;
   padding-right: 50px;
  
}

.row-questions{
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: auto;
  margin-right: auto;
}
/* Survey.hadlebars */
/* .panel-title {
  font-size: 45px;
  padding: 01px; 
}
#eater-number {
  font-size: 30px;
  padding: 01px;
}

.row-questions {
  padding-top: 10px;
  margin: auto;
  z-index: 40;
  position: fixed;
  top: 40px;
  bottom: 40px;
  left: 30px;
  right: 30px;
  clear: both; 
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
}
 .chosen-select {
  background-color: rgb(255, 254, 255);
  border-color: black;
  border-style: thin;
  border-width: 02px;  
 }

#buttonSave {
  background-color: rgb(224, 186, 60);
  border-color: black; 
  }

#buttonSave:hover {
  box-shadow: 0 12px 16px 0 rgba(225, 6, 233, 0.24),0 17px 50px 0 rgba(235, 7, 223, 0.19);
} */




.panel-body{
  padding: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
   padding-right: 15px;
  
}

/* ginna's code to see text in restaurant and be able to do changes....*/
/* #res-name, #res-data{
  color: black; */
}

/* media queries */
@media screen and (max-width: 980px) {
  .row {
  width: 100%;
}
}
@media screen and (max-width: 768px) {
  .row {
    width: 100%;
}
}
@media screen and (max-width: 640px) {
 .row {
   width: 80%
 }
  .row h2 {
   width:98%;
   clear:both;
   } 
 }
 @media screen and (max-width: 768px) {
  .row h2 {
    width: 80%;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 640px) {
  .row h2 {
    width: 90%
  }
}

