.list-group-item {
  line-height: 2.5;
}

.btn-group-lg>.btn, .btn-large{
  padding : 10px 16px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}

.btn-primary{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;

}

.col-md-10{
  margin: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

div{
  display: block;
}

.col-md-10{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.chosen-select{
  display: block;
  width: 100%;
  height: 34px;
   
}